name: application_1
description: "A new Flutter project."
publish_to: 'none'
version: 0.1.0

environment:
  sdk: ">=3.0.0 <4.0.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0

flutter:
  uses-material-design: true
  assets:
    - assets/Grocerylogo.png
    - assets/Message.jpeg
    - assets/Order Tracking.jpeg
    - assets/Payment.jpeg
    - assets/avocado.png
    - assets/type c charger.png